body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}



#header {
    width: 100%;
    background-color: #CCCCCC;
    text-align: center;
}

#layouttable {
    border: 0px;
    width: 100%;
    font-family: 'Segoe UI';
}

    #layouttable td.col1 {
        width: 20%;
        vertical-align: top;
    }

    #layouttable td.col2 {
        width: 60%;
        vertical-align: top;
        background-color: #E8E8E8;
    }

    #layouttable td.col3 {
        width: 20%;
        vertical-align: top;
    }

.displayInLine {
    display: inline;
}

