@{
    ViewBag.Title = "AskNeedCloudService";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    if (ViewBag.CloudService != null)
    {
        //bool isRegisteredCloudService = (bool?)(System.Web.HttpContext.Current.Session["CloudService"]) ?? false;
        bool isRegisteredCloudService = (bool?)(ViewBag.CloudService) ?? false;

        if (isRegisteredCloudService)
        {
            <h2>Are you going to Unregister Cloud Storage Service?</h2>

            <p>
                @Html.ActionLink("Yes", "UnregisterCloudService", "User", new { choose = "Yes" }, new { @class = "btn btn-primary" })
                @Html.ActionLink("No", "UnregisterCloudService", "User", new { choose = "No" }, new { @class = "btn btn-primary" })
            </p>
        }
        else
        {
            <h2>Are you going to Register Cloud Storage Service?</h2>

            <p>
                @Html.ActionLink("Yes", "ChooseCloudStorage", "User", new { choose = "Yes" }, new { @class = "btn btn-primary" })
                @Html.ActionLink("No", "ChooseCloudStorage", "User", new { choose = "No" }, new { @class = "btn btn-primary" })
            </p>
        }
    }

}
